body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}
.carousel-inner {
  margin-top: 15px;
  color: rgba(0, 255, 170, 0.952);
  font-size: 20px;
}
